<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Products</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>Products list</h1>
    <ol>
        <li>DevOps</li>
        <li>Cloud Computing</li>
        <li>Full Stack JavaScript</li>
        <li>Java EE</li>
        <li>C# .NET</li>
    </ol>
</body>
</html>